/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.woocommerce{
padding: 80px 0;
}

.text-center .btn_1
{
	padding: 8px 22px;
    font-size: 0.875rem;
    line-height: 24px;
    background-color: #c06e52;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);

}

.text-center .btn_1:hover {
	background:#444;
}

/* Responsive */
/* @media only screen and (max-width: 321px) {
 .box_account{margin-left: 35px;}
} */
